<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div class="pageContent">
	<form method="post" action="demob/update?refreshpath=demoblist" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input type="hidden" name="id" th:value="${entity.id}">
		<div class="pageFormContent sortDrag" layoutH="56">
			<p>
				<label>test2：</label>
				<input class="Wdate" name="test2" type="text" maxlength="150" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" th:value="${entity.test2}"/>
			</p>
			<p>
				<label>test3：</label>
				<input name="test3" readonly="readonly" type="text" maxlength="150" th:value="${entity.test3}"/>
			</p>
			<p>
				<label>test1：</label>
				<input name="test1" readonly="readonly" type="text" maxlength="150" th:value="${entity.test1}"/>
			</p>
			<div class="divider"></div>
			<p>
				<label>demoa：</label>
               <input name="demoa.id" type="text" th:value="${entity.demoa==null}?'':${entity.demoa.id}"/>
			</p>
		</div>
		
		<div class="formBar">
			<ul>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
